$font-size-regular: 16px;
$font-size-big: 26px;
$font-size-heading: 50px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-family-primary: "Rubik", sans-serif;

$line-height-regular: 2rem;

$color-paragraph: #535353;

$media-desktop-width: 1200px;
